* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

    display: flex;
    justify-content: space-between;
}

input,
button {
    outline: 0;
}

header#main-header {
    width: 346px;
    height: 80px;
    margin-left: 32px;
    margin-top: 40px;
}

header#main-header .logo {
    display: flex;
    align-items: center;
}

header#main-header .logo img {
    width: 80px;
    height: 80px;
}

header#main-header .logo span {
    font-family: 'Yeseva One', cursive;
    font-size: 48px;
    margin-left: 14px;
}

header#main-header nav {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    margin-top: 56px;
    padding: 0;
}

header#main-header nav ul {
    list-style: none;
}

header#main-header nav ul li {
    margin-top: 16px;
    font-size: 32px;
}

header#main-header nav ul li:first-child {
    margin-top: 0;
}

header#main-header nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    color: #3f3f3f;
}

header#main-header nav ul li img {
    width: 50px;
    height: 50px;
    margin-right: 17px;
}

section#feed .searchbar {
    display: flex;
    align-items: center;
    background: #e0e0e0;
    margin-top: 24px;
    padding: 24px 32px;
    border: 1px solid #6c8193;
}

section#feed .searchbar input {
    width: 527px;
    height: 36px;
    border: 1px solid #6c8193;
    padding: 0 30px 0 41px;
    border-radius: 16px;
    color: #b3b3b3;
    font-size: 24px;
    background: #fff url('images/buscar.svg') no-repeat 8px center;
    background-size: 25px;

    margin-right: 16px;
}

section#feed .searchbar input::placeholder {
    color: #b3b3b3;
}

section#feed .searchbar img {
    width: 36px;
    height: 36px;
}

