* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: #fff; */
    background: #f3f3f3;
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

    display: flex;
    justify-content: space-between;
}

input,
button,
textarea {
    outline: 0;
}

header#main-header {
    width: 346px;
    height: 80px;
    margin-left: 32px;
    margin-top: 40px;
}

header#main-header .logo {
    display: flex;
    align-items: center;
}

header#main-header .logo img {
    width: 60px;
    height: 60px;
}

header#main-header .logo h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 40px;
    font-weight: 400;
    margin-left: 14px;
}

header#main-header nav {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    margin-top: 56px;
    padding: 0;
}

header#main-header nav ul {
    list-style: none;
}

header#main-header nav ul li {
    margin-top: 16px;
    font-size: 24px;
}

header#main-header nav ul li:first-child {
    margin-top: 0;
}

header#main-header nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    color: #3f3f3f;
}

header#main-header nav ul li img {
    width: 40px;
    height: 40px;
    margin-right: 17px;
}

section#feed {
    width: 652px;
}

section#feed .searchbar {
    display: flex;
    align-items: center;
    background: #e0e0e0;
    margin-top: 24px;
    padding: 24px 32px;
    border: 1px solid #6c8193;
}

section#feed .searchbar input {
    width: 527px;
    height: 36px;
    border: 1px solid #6c8193;
    padding: 0 30px 0 41px;
    border-radius: 16px;
    color: #b3b3b3;
    font-size: 16px;
    background: #fff url('images/buscar.svg') no-repeat 8px center;
    background-size: 25px;

    margin-right: 16px;
}

section#feed .searchbar input::placeholder {
    color: #b3b3b3;
}

section#feed .searchbar img {
    width: 36px;
    height: 36px;
}

section#feed .new-piu {
    background: #fff;
    display: flex;
    flex-direction: column;
    height: fit-content;
    border: 1px solid #6c8193;
    padding: 16px;
    margin-top: -1px;
}

section#feed .new-piu span {
    margin-bottom: 8px;
    font-size: 14px;
    color: #6c8193;
}

section#feed .new-piu textarea {
    padding: 16px;
    resize: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    border-radius: 8px;
    background: #e0e0e0;
}

section#feed .new-piu div {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

section#feed .new-piu button {
    text-align: center;
    width: 90px;
    height: 24px;
    font-weight: bold;
    font-size: 14px;
    background: #3f3f3f;
    color: #fff;
    border: 0;
    border-radius: 16px;
}

section#feed .new-piu.too-big span {
    color: #ff5733;
    font-weight: 900;
}

section#feed .new-piu.too-big textarea {
    background: #FAAF9F;
}

section#feed ul.pius {
    list-style: none;
}

section#feed ul.pius li {
    border: 1px solid #6c8193;
    background: #fff;
    margin-top: -1px;
}

section#feed ul.pius li:last-child {
    margin-bottom: 24px;
}

section#feed ul.pius li .info {
    display: flex;
    align-items: center;
    margin: 16px 16px;
}

section#feed ul.pius li .info img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 8px;
}

section#feed ul.pius li .info span {
    font-weight: normal;
    color: #b3b3b3;
}

section#feed ul.pius li p {
    margin: 8px 16px;
}

section#feed ul.pius li .interactions {
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin: 16px 142px;
}

section#feed ul.pius li .interactions img {
    width: 24px;
    height: 24px;
}